@page "/"
@using CustomAutoComplet.Components.Compo
@using CustomAutoComplet.Data
@using CustomAutoComplet.Services.Contracts


@inject IUserService UserService

<MudPaper Class="pa-4" MaxWidth="400px">

    <MudText Typo="Typo.h6">Rechercher un utilisateur</MudText>

    <CustomAutocomplet TItem="UserResultWithScore"
                        @bind-Value="_selectedUser"
                        SearchFunc="SearchUsers"
                        Placeholder="Tapez un nom..."
                        MinCharacters="2"
                        DebounceInterval="300"
                        Clearable="true">

        <ItemTemplate Context="user">
            <MudText>@user.FirstName, @user.LastName, @user.Email</MudText>
            <MudText> @user.Guid</MudText>

    <div class="d-flex align-center justify-space-between w-100">
        <div>
            <MudText>@user.DisplayName</MudText>
            <MudText Typo="Typo.caption" Color="Color.Secondary">
                @user.Email
            </MudText>
        </div>

                <MudChip T="UserResultWithScore" Size="Size.Small" Color="@(user.Score > 90 ? Color.Success : Color.Default)" Variant="Variant.Outlined">
            @user.MatchType @user.Score %
        </MudChip>
    </div>
</ItemTemplate>
        <LoadingTemplate>
            <MudProgressLinear Indeterminate />
        </LoadingTemplate>

        <EmptyTemplate>
            <MudText Color="Color.Secondary" Class="pa-2">
                Aucun résultat
            </MudText>
        </EmptyTemplate>

        <ErrorTemplate Context="ex">
            <MudAlert Severity="Severity.Error">
                Erreur : @ex.Message
            </MudAlert>
        </ErrorTemplate>

    </CustomAutocomplet>

    @if (_selectedUser != null)
    {
        <MudDivider Class="my-3" />

        <MudText>
            Utilisateur sélectionné :
            <b>@_selectedUser.FirstName</b>, <b>@_selectedUser.LastName</b>
        </MudText>
    }

</MudPaper>

@code {
    private UserResultWithScore _selectedUser;

    private IAsyncEnumerable<UserResultWithScore> SearchUsers(
        string text,
        CancellationToken ct)
    {
        return UserService.StreamUsersWithScoreAsync(text, ct);
    }
}