@page "/"
@using CustomAutoComplet.Components.Compo
@using CustomAutoComplet.Components.Helpers
@using CustomAutoComplet.Data
@using CustomAutoComplet.Services.Contracts


@inject IUserService UserService

<MudPaper Class="pa-4" MaxWidth="400px">

    <MudText Typo="Typo.h6">Rechercher un utilisateur</MudText>

    <CustomAutocomplet TItem="UserResultWithScore"
                       @bind-Value="_selectedUser"
                       SearchFunc="SearchUsers"
                       Placeholder="Tapez un nom..."
                       MinCharacters="2"
                       DebounceInterval="300"
                       DisplayFunc="u => u.DisplayName"
                       Clearable="true">

        <ItemTemplate Context="ctx">


            <div class="d-flex justify-space-between w-100">
                <div>
                    <MudText>
                        @TextHighlightHelper.Highlight(
                                                ctx.Item.DisplayName,
                                                ctx.SearchText)
                    </MudText>

                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        @TextHighlightHelper.Highlight(
                                                ctx.Item.Email,
                                                ctx.SearchText)
                    </MudText>
                </div>

                <MudChip T="UserResultWithScore" Size="Size.Small"
                         Color="@(ctx.Item.Score > 90 ? Color.Success : Color.Default)"
                         Variant="Variant.Outlined">
                    @ctx.Item.MatchType
                </MudChip>
            </div>
            <MudText>@ctx.Item.FirstName, @ctx.Item.LastName, @ctx.Item.Email</MudText>
            <MudText> @ctx.Item.Guid</MudText>

            <div class="d-flex align-center justify-space-between w-100">
                <div>
                    <MudText>@ctx.Item.DisplayName</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Secondary">
                        @ctx.Item.Email
                    </MudText>
                </div>

                <MudChip T="UserResultWithScore" Size="Size.Small" Color="@(ctx.Item.Score > 90 ? Color.Success : Color.Default)" Variant="Variant.Outlined">
                    @ctx.Item.MatchType @ctx.Item.Score %
                </MudChip>
            </div>
        </ItemTemplate>
        <LoadingTemplate>
            <MudProgressLinear Indeterminate />
        </LoadingTemplate>

        <EmptyTemplate>
            <MudText Color="Color.Secondary" Class="pa-2">
                Aucun résultat
            </MudText>
        </EmptyTemplate>

        <ErrorTemplate Context="ex">
            <MudAlert Severity="Severity.Error">
                Erreur : @ex.Message
            </MudAlert>
        </ErrorTemplate>

    </CustomAutocomplet>

    @if (_selectedUser != null)
    {
        <MudDivider Class="my-3" />

        <MudText>
            Utilisateur sélectionné :
            <b>@_selectedUser.FirstName</b>, <b>@_selectedUser.LastName</b>
        </MudText>
    }

</MudPaper>

@code {
    private UserResultWithScore _selectedUser;
    private Func<UserResultWithScore, string> convertDiplayNameFunc = ci => ci?.DisplayName;
    private IAsyncEnumerable<UserResultWithScore> SearchUsers(
        string text,
        CancellationToken ct)
    {
        return UserService.StreamUsersWithScoreAsync(text, ct);
    }
}